.App {
  margin: 2rem;
}

.header {
  text-align: center;
  font-size: 72px;
}

.pokedex-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  border: 3px solid red;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
}

.more {
  background-color: red;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 16px;
  margin: 4px;
  color: white;
  font-size: 16px;
}

.more:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.name {
  text-transform: capitalize;
}

.type {
  text-transform: uppercase;
  font-size: 12px;
  background-color: black;
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
}